@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Voting+ is a voting site that allows you to make a vote for free and share it with other people to know your opinion.
    You can create a text vote, images, as your preferences and then publish it to vote.
</p>
