@{
    ViewData["Title"] = "Error404";
}

<h2>Error 404</h2>

<head>
    <title>Event Not Found</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/style404.css" />
</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>Oops! Error 404</h2>
            <p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
            <a asp-area="" asp-controller="Home" asp-action="Index">Back to homepage</a>
        </div>
    </div>

</body>
