@model Voting.Web.Data.Entities.Event

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <div class="input-group date">
                    <input asp-for="StartDate" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FinishDate" class="control-label"></label>
                <div class="input-group date">
                    <input asp-for="FinishDate" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>

            <label id="lblMensaje" class="text-danger"></label>
            <br />

            <div class="form-group">
                <button id="btnCreate" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Create</button>
                <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnCreate').attr("disabled", true);

            $('#StartDate').change(function () {
                
                var startDate = new Date($('#StartDate').val());
                var today = new Date();                

                if (startDate < today) {
                    $('#btnCreate').attr("disabled", true);
                    $('#lblMensaje').html('The initial date can not be less than the current date');
                }
                else {
                    $('#lblMensaje').html('');
                }
            });


            $('#FinishDate').change(function () {

                var finishDate = $('#FinishDate').val();
                var startDate = $('#StartDate').val();

                if (finishDate == startDate) {     
                    $('#lblMensaje').html('The start date and the end date should not match');
                    $('#btnCreate').attr("disabled", true);
                    return;
                }

                if (finishDate < startDate) {
                    $('#lblMensaje').html('The end date can not be less than the start date');
                    $('#btnCreate').attr("disabled", true);
                    return;
                }

                if (finishDate > startDate) {
                    $('#lblMensaje').html('');
                    $('#btnCreate').attr("disabled", false);
                    return;                    
                }

            });

        });
    </script>
}



