@{
    ViewData["Title"] = "NotPermit";
}

<head>
    <title>Event Not Found</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/style404.css" />
</head>

<body>
    <div id="notfound">
        <div class="notfound">
            <img src="~/images/no_permit.png" alt="Not Authorized" style="width:300px;height:450px;max-width: 100%; height: auto;" />
            <br /><br />
                  <h2>Oops! Action not Permit</h2>
                  <p>The voting event that you are trying to delete can not be removed</p>
            <a asp-area="" asp-controller="Home" asp-action="Index">Back to homepage</a>
        </div>
    </div>
</body>

